<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Public.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.Public.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.Public.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.Public.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>Controller.Public.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreateController</servlet-name>
        <servlet-class>Controller.Private.UserCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryCreate</servlet-name>
        <servlet-class>Controller.Private.CategoryCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCreateController</servlet-name>
        <servlet-class>Controller.Private.PostCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>Controller.Private.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListController</servlet-name>
        <servlet-class>Controller.Private.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryListController</servlet-name>
        <servlet-class>Controller.Private.CategoryListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDeleteController</servlet-name>
        <servlet-class>Controller.Private.CategoryDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDeleteController</servlet-name>
        <servlet-class>Controller.Private.PostDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteController</servlet-name>
        <servlet-class>Controller.Private.UserDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryUpdateController</servlet-name>
        <servlet-class>Controller.Private.CategoryUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostUpdateController</servlet-name>
        <servlet-class>Controller.Private.PostUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateController</servlet-name>
        <servlet-class>Controller.Private.UserUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.Public.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controller.Private.ProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateController</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryCreate</servlet-name>
        <url-pattern>/category/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCreateController</servlet-name>
        <url-pattern>/post/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListController</servlet-name>
        <url-pattern>/post/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryListController</servlet-name>
        <url-pattern>/category/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDeleteController</servlet-name>
        <url-pattern>/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDeleteController</servlet-name>
        <url-pattern>/post/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteController</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryUpdateController</servlet-name>
        <url-pattern>/category/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostUpdateController</servlet-name>
        <url-pattern>/post/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateController</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
