<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreateController</servlet-name>
        <servlet-class>Controller.User.UserCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateController</servlet-name>
        <servlet-class>Controller.User.UserUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteController</servlet-name>
        <servlet-class>Controller.User.UserDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>Controller.User.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestListController</servlet-name>
        <servlet-class>Controller.Request.RequestListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateController</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateController</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteController</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestListController</servlet-name>
        <url-pattern>/request/list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
