<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>q</param-name>
        <param-value>qwe</param-value>
    </context-param>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>servlet.SecondServlet</servlet-class>
        <init-param>
            <param-name>a</param-name>
            <param-value>asd</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
        <init-param>
            <param-name>z</param-name>
            <param-value>zxc</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>newhtml.html</welcome-file>
    </welcome-file-list>
</web-app>
