<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FruitListController</servlet-name>
        <servlet-class>Controller.FruitListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FruitListView</servlet-name>
        <servlet-class>View.FruitListView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FruitCreateController</servlet-name>
        <servlet-class>Controller.FruitCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FruitUpdateController</servlet-name>
        <servlet-class>Controller.FruitUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FruitDeleteController</servlet-name>
        <servlet-class>Controller.FruitDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FruitListController</servlet-name>
        <url-pattern>/fruit/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FruitListView</servlet-name>
        <url-pattern>/fruit/list/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FruitCreateController</servlet-name>
        <url-pattern>/fruit/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FruitUpdateController</servlet-name>
        <url-pattern>/fruit/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FruitDeleteController</servlet-name>
        <url-pattern>/fruit/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
